<div id="navigationbar">
  <div></div>
  <a href="/"><img src="./resources/logo.png" width="160px" /></a>
  <a href="/signin" class="navibar">Home</a>
  <a href="/userprofile" class="navibar">Profile</a>
</div>
