<div id="navigationbar">
  <div></div>
  <a href="/"><img src="./resources/logo.png" width="160px" /></a>
  <a href="#How_It_Works" class="navibar">How It Works</a>
  <a href="#Features" class="navibar">Features</a>
  <a href="#About_Us" class="navibar">About Us</a>
  <a href="login" class="navibar">Login</a>
  <a href="signup" class="navibar">Sign Up</a>
  <div></div>
</div>
