<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="/" class="nav-item">
        <img src="./resources/logo.png" width="160px" />
      </a>
      <a
        role="button"
        class="navbar-burger has-text-white"
        aria-label="menu"
        aria-expanded="false"
      >
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start"></div>
      <div class="navbar-end">
        <a
          href="#How_It_Works"
          class="navbar-item has-text-centered has-text-white"
          >How It Works</a
        >
        <a href="#Features" class="navbar-item has-text-centered has-text-white"
          >Features</a
        >
        <a href="#About_Us" class="navbar-item has-text-centered has-text-white"
          >About Us</a
        >
        <a href="login" class="navbar-item has-text-centered has-text-white"
          >Login</a
        >
        <a href="signup" class="navbar-item has-text-centered has-text-white"
          >Sign Up</a
        >
      </div>
    </div>
  </nav>
</div>
<script src="/navbar.js"></script>
