<%- include("partials/header") -%>
<title>Home</title>
</head>

<body>

<%- include("partials/navbar.ejs") -%>

<div id="placeholderImg">
  <img class="img-fluid" src="https://via.placeholder.com/700" alt="placeholderImage">
</div>
  <%- include("partials/footer") -%>