<%- include("partials/header") -%>
<title>Home</title>
</head>

<body>

<%- include("partials/navbar.ejs") -%>

<div id="landingphoto">
  <img src="./resources/landingphotoedited.png" width="1000px" />
</div>

<div class="content">
  <div id="How_It_Works" class="item">
    <h2>How it works</h2>
    <div class="description">
      How it works. To be constructed.
    </div>
  </div>

  <div id="Features" class="item">
    <h2>Features</h2>
    <div class="description">
      Description of features. To be constructed.
    </div>
  </div>

  <div id="About_Us" class="item">
    <h2>About Us</h2>
    <div id="teamImageHolder">
      <img src="./resources/justin.png" id='egg1' class='teamImage'/>
      <img src="./resources/hans.png" id='egg2' class='teamImage'/>
      <br />
      <img src="./resources/david.png" id='egg3' class='teamImage'/>
      <img src="./resources/george.png" id='egg4' class='teamImage'/>
    </div>
    <br />
    <div class="description">
      <Strong>Welcome!</Strong> We're four students currently studying
      Computer Systems Technology at
      <a href="https://www.bcit.ca/"
        >BCIT (British Columbia Institute of Technology)</a
      >. During 2020's COVID-19 crisis, we noticed that students were not
      getting enough support for their education due to the transition of
      online schooling. We created Tutors4Zoomers to connect students in
      need with voluteer tutors. Our mission is to bring help to the
      students who need and deserve it. Whether you're a tutor or student,
      we hope that Tutors4Zoomers can help you connect with the right
      person. Thank you for visiting!
    </div>
    <center>
      <h3>Pitch Video</h3>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/gzMxrLrSXoI"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </center>
  </div>
</div>

<script>
  var eggcounter = 0;

  $("#egg1").click(function() {
    if (eggcounter == 0) {
      eggcounter++;
      document.getElementById("egg1").style.opacity = 1.0;
      document.getElementById("egg2").style.opacity = 0.5;
      console.log(eggcounter);
    }
  });

  $("#egg2").click(function() {
    if (eggcounter == 1) {
      eggcounter++;
      document.getElementById("egg2").style.opacity = 1.0;
      document.getElementById("egg3").style.opacity = 0.5;
      console.log(eggcounter);
    }
  });

  $("#egg3").click(function() {
    if (eggcounter == 2) {
      eggcounter++;
      document.getElementById("egg3").style.opacity = 1.0;
      document.getElementById("egg4").style.opacity = 0.5;
      console.log(eggcounter);
    }
  });

  $("#egg4").click(function() {
    if (eggcounter == 3) {
      eggcounter++;
      document.getElementById("egg4").style.opacity = 1.0;
      console.log(eggcounter);

      for (i = 0; i < 25; i++) {
        easterEgg(Math.random()*90 + "%", Math.random()*90 + "%");
      }
      window.scrollTo(0,0);

      var zoomerTunes = document.createElement("audio");
      zoomerTunes.setAttribute('src', './resources/mlg-airhorn.mp3');
      document.body.appendChild(zoomerTunes);
    }
  });

  function easterEgg(x,y) {
    console.log("easter egg in progress");
    var zoomer = document.createElement('img');
    zoomer.setAttribute("src", "https://i.kym-cdn.com/photos/images/original/001/402/574/13b.gif");
    zoomer.style.position = "absolute";
    zoomer.style.width = "150px";
    zoomer.style.left = x;
    zoomer.style.top = y;
    zoomer.style.zIndex = "99";
    zoomer.onclick = function() {
      zoomer.style.visibility = "hidden";
    };
    document.body.appendChild(zoomer);
  };

  
</script>

<footer>
  © Tutors4Zoomers 2020 by Hans Sy, George Yang, Justin Majam, and David
  Wang.
</footer>

  <%- include("partials/footer") -%>