<%- include("partials/header") -%>
<title>Home</title>
</head>
<body>
    <form action="">
        <input type="text" name="username" id="login-name">
        <input type="password" name="password" id="login-password">
        <button>Submit</button>
    </form>



<%- include("partials/footer") -%>