<%- include("partials/header") -%>

  <title>Login | T4Z</title>
</head>

<body>
  
  <%- include("partials/navbar.ejs") -%>

  <div class="container">

    <section class="hero is-success">
      <div class="hero-body">
          <h1 class="title">Login</h1>
          <h2 class="subtitle">Enter your username and password.</h2>
      </div>
    </section>
    <br />

    <p><%= errorMessage %></p>

    <div class="block">
      <form action="/login" method="POST" class="box">
        <div class="field">
          <label class="label">Username</label>
          <input type="text" name="username" class="input" placeholder="Enter Username" required>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <input type="password" name="password" class="input" placeholder="Enter Password" required>
        </div>

        <button type="submit" class="button is-success">
          Login
        </button>
      </form>
    </div>
  </div>
  
  <%- include("partials/footer") -%>