<!DOCTYPE html>
<html>
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <title>Open Session | Tutors4Zoomers</title>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <style>
      body {
        background-image: url("../resources/loginbg.jpg");
        background-size: 1920px;
        font-family: "Segoe UI", Arial, sans-serif;
      }
      #form {
        background-color: white;
        height: 475px;
        width: 475px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-box-shadow: 0px 0px 47px 16px rgba(0, 0, 0, 0.84);
        -moz-box-shadow: 0px 0px 47px 16px rgba(0, 0, 0, 0.84);
        box-shadow: 0px 0px 47px 16px rgba(0, 0, 0, 0.84);
        padding: 25px;
      }
    </style>
  </head>

  <body>
    <div id="form">
      <div id="colourBox">
        <button class="colours" id="red">RED</button>
        <button class="colours" id="yellow">YELLOW</button>
        <button class="colours" id="black">BLACK</button>
      </div>
      <button id="eraser">ERASER</button><br />
      <button id="small">SMALL</button>
      <button id="regular">REGULAR</button>
      <button id="large">LARGE</button>
      <!--the file upload form-->
      <form method="post" enctype="multipart/form-data" action="/">
        <input type="file" name="filename" id="fileUp" />
        <input type="submit" name="upload" id="submit" />
      </form>
      <script src="/sketch.js"></script>
    </div>
  </body>
</html>
