<!DOCTYPE html>
<html>
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <title>Open Session | Tutors4Zoomers</title>
    <link rel="stylesheet" href="/chatroom.css">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <style>
      body {
        background-image: url("../resources/loginbg.jpg");
        background-size: 1920px;
        font-family: "Segoe UI", Arial, sans-serif;
      }
      #form {
        background-color: white;
        height: 475px;
        width: 475px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-box-shadow: 0px 0px 47px 16px rgba(0, 0, 0, 0.84);
        -moz-box-shadow: 0px 0px 47px 16px rgba(0, 0, 0, 0.84);
        box-shadow: 0px 0px 47px 16px rgba(0, 0, 0, 0.84);
        padding: 25px;
      }
    </style>
  </head>

  <body>
    <div id="form">
      <div id="colourBox">
        <button class="colours" id="red">RED</button>
        <button class="colours" id="yellow">YELLOW</button>
        <button class="colours" id="black">BLACK</button>
      </div>
      <button id="eraser">ERASER</button><br />
      <button id="small">SMALL</button>
      <button id="regular">REGULAR</button>
      <button id="large">LARGE</button>
    </div>

    <div id="videoContainer">
      <video id="localVideo" autoplay playsinline></video>
      <video id="remoteVideo" autoplay playsinline></video>
    </div>

    <div>
      <div id="conversation"></div>
      <input id="msg" type="text">
      <input id="sendMsg" type="button" value="Send">
    </div>

    <div>
      <p>Online</p>
      <div id="onlineUser"></div>
    </div>
    <script src="/sketch.js"></script>
    <script src="/chat.js"></script>
  </body>
</html>
