<%- include("partials/header") -%>
<title>Signed In | Tutors4Zoomers</title>
</head>

<body>

<%- include("partials/loginNav.ejs") -%>

<div id="landingphoto">
    <img src="./resources/landingphotoedited.png" width="1000px" />
  </div>
  <center>
    <h1>You are now logged in</h1>
    <br />
      <button class="portalbutton">Book a tutor</button>
    <br /><br />
    <form action="/session">
    <button class="portalbutton">Open a tutoring session</button>
  </form>
  <br /><br />
    <button><a href="/logout">Logout</a></button>  
</center>


<%- include("partials/footer") -%>