<%- include("partials/header") -%>

<title>Sign Up</title>
</head>

<body>


    <%- include("partials/navbar.ejs") -%>


    <div class="d-flex justify-content-center align-items-center login-container">
        <form class="login-form text-center" action="/signup" method="POST">
            <div class="form-group mt-3">
                <input type="text" name="username" class="form-control rounded-pill form-control-lg"
                    placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control rounded-pill form-control-lg"
                    placeholder="Password" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" class="form-control rounded-pill form-control-lg" placeholder="Email"
                    required>
            </div>
            <div class="form-group">
                <input type="text" name="firstName" class="form-control rounded-pill form-control-lg"
                    placeholder="First Name" required>
            </div>
            <div class="form-group">
                <input type="text" name="lastName" class="form-control rounded-pill form-control-lg"
                    placeholder="Last Name" required>
            </div>
            <div class="form-group">
                <input type="text" name="age" class="form-control rounded-pill form-control-lg" placeholder="Age"
                    required>
            </div>
            <div class="form-group">
                <select name="education" id="">
                    <option value="g-8">Grade-8</option>
                    <option value="g-9">Grade-9</option>
                    <option value="g-10">Grade-10</option>
                    <option value="g-11">Grade-11</option>
                    <option value="g-12">Grade-12</option>
                    <option value="post_secondary">Post Secondary</option>
                    <option value="undergraduate">Undergraduate</option>
                    <option value="master">Master</option>
                    <option value="doctorate">Doctorate</option>
                </select>
            </div>
            <div class="form-group">
                <select name="major" id="">
                    <option value="art">Art</option>
                    <option value="english">English</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="socialstudies">Social Studies</option>

                </select>
            </div>
            <div class="form-group">
                <input type="radio" name="type" class="rounded-pill radio-inline" value="tutor" required>
                <label for="tutor">Tutor</label>
                <input type="radio" name="type" class="rounded-pill radio-inline" value="student" required>
                <label for="type">Student</label>
            </div>
            <button type="submit"
                class="btn mt-4 rounded-pill btn-lg btn-custom btn-block text-uppercase">SignUp</button>
        </form>
    </div>


    <%- include("partials/footer") -%>