<%- include("partials/header") -%>

<title>Sign Up | T4Z</title>
</head>

<body>

    <%- include("partials/navbar.ejs") -%>

    <div class="container">

        <section class="hero is-danger">
            <div class="hero-body">
                <h1 class="title">Sign Up</h1>
                <h2 class="subtitle">Fill out the fields below and hit "Sign Up" to register.</h2>
            </div>
        </section>
        <br />
    
        <div class="block">
            <form action="/signup" method="POST" class="box">
                <div class="field">
                    <label class="label">Username</label>
                    <input type="text" name="username" class="input" placeholder="Enter Username" required>
                </div>
                
                <div class="field">
                    <label class="label">Password</label>
                    <input type="password" name="password" class="input" placeholder="Enter Password" required>
                </div>

                <div class="field">
                    <label class="label">Email</label>
                    <input type="email" name="email" class="input" placeholder="Enter Email" required>
                </div>

                <div class="field">
                    <label class="label">First Name</label>
                    <input type="text" name="firstName" class="input" placeholder="Enter First Name" required>
                </div>

                <div class="field">
                    <label class="label">Last Name</label>
                    <input type="text" name="lastName" class="input" placeholder="Enter Last Name" required>
                </div>

                <div class="field">
                    <label class="label">Age</label>
                    <input type="text" name="age" class="input" placeholder="Enter Age" required>
                </div>

                <div class="field">
                    <label class="label">Level of Education</label>
                    <p class="control">
                        <span class="select">
                        <select name="education">
                            <option hidden disabled selected value> -- select an option -- </option>
                            <option value="Grade 8">Grade 8</option>
                            <option value="Grade 9">Grade 9</option>
                            <option value="Grade 10">Grade 10</option>
                            <option value="Grade 11">Grade 11</option>
                            <option value="Grade 12">Grade 12</option>
                            <option value="Post Secondary">Post Secondary</option>
                            <option value="Undergraduate">Undergraduate</option>
                            <option value="Master">Master</option>
                            <option value="Doctorate">Doctorate</option>
                        </select>
                        </span>
                    </p>
                </div>

                <div class="field">
                    <label class="label">Level of Education</label>
                    <p class="control">
                        <span class="select">
                        <select name="major">
                            <option hidden disabled selected value> -- select an option -- </option>
                            <option value="Art">Art</option>
                            <option value="English">English</option>
                            <option value="Math">Math</option>
                            <option value="Science">Science</option>
                            <option value="Social Studies">Social Studies</option>
                        </select>
                        </span>
                    </p>
                </div>

                <div class="control">
                    <label class="radio">
                      <input type="radio" name="type" value="Tutor" required checked>
                      Tutor
                    </label>
                    <label class="radio">
                      <input type="radio" name="type" value="Student" required>
                      Student
                    </label>
                </div>
                <br />

                <button type="submit"
                class="button is-danger">Sign Up</button>
            </form>
        </div>
    </div>

    <%- include("partials/footer") -%>