<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script>
        const roomName = "<%= roomName%>";
    </script>
    <title>WhiteBoard</title>
</head>
<body>
<div id="colourBox">
<button class="colours" id="red">RED</button>
<button class="colours" id="yellow">YELLOW</button>
<button class="colours" id="black">BLACK</button>
</div>
<button id="eraser">ERASER</button><br>
<button id="small">SMALL</button>
<button id="regular">REGULAR</button>
<button id="large">LARGE</button>
<!--the file upload form-->
<form method="post" enctype="multipart/form-data" action="/images" id="upload" >
    <input type="file" name="filename" id="fileUp">
    <input type="text" value="<%= roomName%>" id="socketInfo" name="socketName">
    <input type="submit" name="upload" id="submit">
</form>
<script src="/sketch.js"></script>

</body>

<link rel="stylesheet" href="./style.css">

</html>
