/* Easter Egg */
#egg1 {
  opacity: 0.5;
}

/* Navigation Bar */
.navbar-menu {
  background-color: #38b6ff;
}

.navbar-brand {
  background-color: #38b6ff;
}

.navbar-item {
  background-color: #38b6ff;
}

body {
  background-color: #38b6ff;
}

.container {
  background-color: white;
  padding: 2%;
}

/* Centers "About Us" */
#About_Us,
#Features {
  text-align: center;
}
/* End */

.features-list {
  height: 200px;
  width: 200px;
  background-color: hsl(141, 71%, 48%);
  border-radius: 50%;
  display: inline-block;
  margin: 25px;
  color: white;
  line-height: 200px;
}

footer {
  position: relative;
  bottom: 0px;
  color: black;
  font-style: italic;
  font-size: 0.8em;
  text-align: right;
}


