<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebRTC Chatroom Menu</title>
</head>
<body>
    <% if(room) { %>
        <% for (let i = 0; i < room.length; i++) { %>
            <a href="chatroom"><%= room[i] %></a>
        <% } %>
    <% } %>
</body>
</html>