<!DOCTYPE html>
<html>
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <title>Tutors4Zoomers</title>
    <link rel="icon" href="./resources/favicon.png" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <style></style>
  </head>

  <body>
    <div id="navigationbar">
      <div></div>
      <a href="/"><img src="./resources/logo.png" width="160px" /></a>
      <a href="#How_It_Works" class="navibar">How It Works</a>
      <a href="#Features" class="navibar">Features</a>
      <a href="#About_Us" class="navibar">About Us</a>
      <a href="login" class="navibar">Login</a>
      <a href="signup" class="navibar">Sign Up</a>
      <div></div>
    </div>

    <div id="landingphoto">
      <img src="./resources/landingphotoedited.png" width="1000px" />
    </div>

    <div class="content">
      <div id="How_It_Works" class="item">
        <h2>How it works</h2>
        <div class="description">
          How it works. To be constructed.
        </div>
      </div>

      <div id="Features" class="item">
        <h2>Features</h2>
        <div class="description">
          Description of features. To be constructed.
        </div>
      </div>

      <div id="About_Us" class="item">
        <h2>About Us</h2>
        <center>
          <img src="./resources/aboutus.png" width="500px" />
        </center>
        <br />
        <div class="description">
          <Strong>Welcome!</Strong> We're four students currently studying
          Computer Systems Technology at
          <a href="https://www.bcit.ca/"
            >BCIT (British Columbia Institute of Technology)</a
          >. During 2020's COVID-19 crisis, we noticed that students were not
          getting enough support for their education due to the transition of
          online schooling. We created Tutors4Zoomers to connect students in
          need with voluteer tutors. Our mission is to bring help to the
          students who need and deserve it. Whether you're a tutor or student,
          we hope that Tutors4Zoomers can help you connect with the right
          person. Thank you for visiting!
        </div>
        <center>
          <h3>Pitch Video</h3>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/gzMxrLrSXoI"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </center>
      </div>

      <!-- <div id="For_Parents" class="item">
        <h2>For Parents</h2>
        <div class="description">
          To be constructed.
        </div>
      </div>

      <div id="For_Students" class="item">
        <h2>For Students</h2>
        <div class="description">
          To be constructed.
        </div>
      </div>

      <div id="For_Volunteer_Tutors" class="item">
        <h2>For Volunteer Tutors</h2>
        <div class="description">
          To be constructed.
        </div>
      </div> -->
    </div>

    <footer>
      © Tutors4Zoomers 2020 by Hans Sy, George Yang, Justin Majam, and David
      Wang.
    </footer>
  </body>
</html>
