<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebRTC Chatroom</title>
    <link rel="stylesheet" href="chatroom.css">
</head>
<body>
    <h1>Tutors4Zoomers Chat</h1>
    <video id="localVideo" autoplay playsinline></video>
    <video id="remoteVideo" autoplay playsinline></video>

    <div>
        <button id="startButton">Start</button>
        <button id="callButton">Call</button>
        <button id="endButton">Hang up</button>
    </div>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="chatroom.js"></script>
</body>
</html>