<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="chatroom.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <title>WebRTC Chatroom</title>
</head>
<body>
    <h1>Tutors4Zoomers Chat</h1>
    <div id="videoContainer"></div>
<!--    <video id="localVideo" autoplay playsinline></video>-->
<!--    <video id="remoteVideo" autoplay playsinline></video>-->

    <div>
        <button id="startButton">Start</button>
        <button id="callButton">Call</button>
        <button id="endButton">Hang up</button>
    </div>

    <div>
        <div id="conversation"></div>
        <input id="msg" type="text">
        <input id="sendMsg" type="button" value="Send">
    </div>

    <div>
        <p>Online</p>
        <div id="onlineUser"></div>
    </div>

    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<!--    <script src="chatroom.js"></script>-->
    <script>
        let socket = io();
        socket.on("connect", () => {
            socket.emit("addUser", prompt("Hello! What is your name?"));
        });

        socket.on("updateChat", (username, data) => {
            $("#conversation").append("<b>" + username + "</b>" + data + "</br>");
        })

        socket.on("updateStatus", (userList) => {
            let onlineStatus = $("#onlineUser");
            document.getElementById("onlineUser").innerHTML = "";
            for(let i = 0; i < userList.length; i++) {
                onlineStatus.append("<b>" + userList[i] + "</b></br>");
            }
        })

        socket.on("connectVideo", (userList) => {
            for(let i = 0; i < userList.length; i++) {
                let videoId = "localVideo" + userList[i];

                const mediaStreamConstraints = {
                    video: true,
                    // audio: true,
                };
                const localVideo = document.getElementById(videoId);
                let localStream;
                function gotLocalMediaStream(mediaStream) {
                    localStream = mediaStream;
                    localVideo.srcObject = mediaStream;
                }

                function handleLocalMediaStreamError(error) {
                    console.log('navigator.getUserMedia error: ', error);
                }

                navigator.mediaDevices.getUserMedia(mediaStreamConstraints)
                    .then(gotLocalMediaStream).catch(handleLocalMediaStreamError)

            }
        })

        socket.on("updateVideo", (userList) => {
            document.getElementById("videoContainer").innerHTML = "";
            for(let i = 0; i < userList.length; i++) {
                let videoId = "localVideo" + userList[i];
                $("#videoContainer").append("<video id=" + videoId + " autoplay playsinline></video>")
            }
        })

        $(() => {
            $("#sendMsg").click(() => {
                let msg = $("#msg").val();
                $("#msg").val("");
                socket.emit("sendChat", msg);
            })
        })
    </script>
</body>
</html>