<!DOCTYPE html>
<html>
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <title>Login | Tutors4Zoomers</title>

    <style>
      body {
        background-image: url("./resources/loginbg.jpg");
        background-size: 1920px;
        font-family: "Segoe UI", Arial, sans-serif;
      }

      #form {
        background-color: white;
        height: 475px;
        width: 475px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-box-shadow: 0px 0px 47px 16px rgba(0, 0, 0, 0.84);
        -moz-box-shadow: 0px 0px 47px 16px rgba(0, 0, 0, 0.84);
        box-shadow: 0px 0px 47px 16px rgba(0, 0, 0, 0.84);
        padding: 25px;
      }
    </style>
  </head>

  <body>
    <div id="form">Authentication to be developed.</div>
  </body>
</html>
